test.json
package-lock.json
nodeTest.js
.DS_Store

node_modules/
jspm_packages/
bower_components/
web_modules/

npm-debug.log
yarn-error.log
yarn-debug.log
lerna-debug.log

.env
.env.test
.custom-env
.env.development.local
.env.test.local
.env.production.local
.env.local

.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.eslintcache
.cache
.parcel-cache
.npm
.grunt
.lock-wscript
*.tsbuildinfo

.vscode-test
.vscode

yarn.lock

.next
out
.nuxt
dist
